<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357739001581-qqttqc0skqj5jqq9vgr6g19fbp831kaa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357739001581-qqttqc0skqj5jqq9vgr6g19fbp831kaa</string>
	<key>API_KEY</key>
	<string>AIzaSyAlcw_EyJ5rgw25ooWXWPVBOoeCyt5J2ug</string>
	<key>GCM_SENDER_ID</key>
	<string>357739001581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gmap</string>
	<key>PROJECT_ID</key>
	<string>guglemebwitflutderr</string>
	<key>STORAGE_BUCKET</key>
	<string>guglemebwitflutderr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357739001581:ios:b7b91d56bdc25141dafee4</string>
</dict>
</plist>